.hero {
  height: 50vh;
  background: url('Images/VIc_Piquillin.JPG') no-repeat center center;
  background-size: contain; /* Display the image in its original size */
  padding: 20px; /* Add padding to provide space for the text */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: Black;
}

.content {
  max-width: 80%; /* Ensure the content doesn't overflow */
  margin: auto; /* Center the content */
}

body.blog-page {
  background: url('Images/Vic_Piquillin2.JPG') no-repeat center center; 
  background-size: contain; /* Ensures the background image displays in its original size */
  width: 100%;
}

body.blog-page a {
  color: black; /* Change link font color to white */
}
